body {
    background: #eceff1;
    padding: 25px;
}
.container {
    padding: 25px   ;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    min-height: 50vh;
}
.collection-item {
    margin-bottom: 10px !important;
}